<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">

    <% if (user.admin) { %>
        <a href="/admin/cart">Admin</a>
    <% } %>
<h1>Welcome <%= user ? user.username : 'Guest' %></h1>
<% if (user) { %>
    <% if (user.admin) { %>
        <a href="/admin/cart">Admin</a>
    <% } %>
    <a href="/auth/logout">Logout</a>
<% } else { %>
<div class="auth-links">
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
</div>
<% } %>
</div>
</body>
</html>
